<h1>記事編集</h1>

<% if @article.errors.any? %>
<ul>
    <% @article.errors.full_messages.each do |err| %>
        <li><%= err %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @article,:url => {:action => :update} do |form| %>
<table>
    <tr>
    <th>タイトル</th>
    <td><%= form.text_field :title %></td>
    </tr>
    <tr>
    <th>ライター</th>
    <td><%= form.text_field :writer %></td>
    </tr>
    <tr>
    <th>投稿日時</th>
    <td><%= raw sprintf(form.date_select(
								:my_date,
								use_month_numbers: true,
								start_year:        Time.now.year,
								end_year:          Time.now.year+1,
								date_separator: '%s'),
						'年 ', '月 ') + '日' %></td>
    </tr>
    <tr>
    <th>記事内容</th>
    <td><%= form.cktext_area :main %></td>
    </tr>
    <th>紹介文</th>
    <td><%= form.text_area :intro %></td>
    <tr>
    <th>カテゴリー</th>
    <td><%= collection_check_boxes(:article, :category_ids, Category.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
        　<% end %>
        </td>
    </tr>
    <tr><th>サムネイル</th>
    <td>
    <% if @article.image? %>
    <%= image_tag @article.image.url ,:size => "360x200" %>
    <% end %>
    <%= form.file_field :image %>
    </td></tr>
    <tr><th>状態</th>
    <td><%= form.radio_button :status, 'f', :checked => "checked" %>下書き<%= form.radio_button :status, 't' %>公開</td></tr>
  <tr><th></th>
    <td><%= form.submit "送信" %></td></tr>
</table>
<% end %>
