<div id="preview">
    <h1>プレビューです:<a href="/osusume/admin/<%= @article.id %>/edit">編集する</a></h1>
    <h3>状態：<% if @article.status == true %>公開<% else %>下書き<% end %></h3>
    <h1><a href="/osusume/admin/">もどる</a></h1>
</div>
<% provide(:title, "SHOW") %>

<div id="osusume">

  <div id="main2">
    <div id="dArticle">
      <div id="samune"><%= image_tag @article.image.to_s , :size => '400x250' %></div>
      <div id="mini">
       <p id ="date"><%= @article.my_date.to_date %></p>
       <p id="writer">writer:<%= @article.writer %></p>
       <h1 id="title"><%= @article.title %></h1>
       <% @article.categories.each do |c| %>
          <p id="category"><%= c.name %></p>
        <% end %>
        <div class="box24"><p><%= @article.intro %></p></div>
      </div>
      <div class="clear"></div>
      <div id="articleMain"<p><%= @article.main.html_safe %></p></div>
      <a href="/osusume/admin" class="square_btn">戻る</a>
    </div>
  </div>
  <div class="clear"></div>
